{% extends 'layout.twig' %}

{% set title = paste.title is not empty ? paste.title : 'Podgląd wklejki ' ~ paste.id.base62Id %}

{% block title %}{{ title }} - {{ parent() }}{% endblock %}

{% block head %}
    <meta name="og:title" content="{{ title }} - Code">
    <meta name="og:description" content="Code jest otwarto-źródłową wklejką z funkcjonalnościami takimi jak drag 'n drop i obsługa więcej niż jednego pliku. Zachowuje prywatność wklejek, każdy plik jest szyfrowany przy użyciu algorytmu AES-256-CBC i jedyną osobą, która zna klucz, jesteś ty i każdy, komu wyślesz linka.">
    <link rel="stylesheet" href="{{ base_url() }}mono-blue.css">
    {{ parent() }}
{% endblock %}

{% block main %}
    <main class="main">
        <h2 class="code-paste-title">
            {{ paste.title }}
            <time datetime="{{ paste.createdAt|date(constant('DATE_W3C')) }}" class="code-paste-title--date">
                {{ paste.createdAt|date('H:i d-m-Y') }}
            </time>
        </h2>
        {% for file in paste.files %}
            <section class="panel">
                <header class="panel-header">
                    <h3 class="panel-title">{{ file.filename|default('Bez tytułu') }}</h3>
                </header>
                <pre><code class="code-paste-content">{{ file.content }}</code></pre>
            </section>
        {% endfor %}
    </main>
{% endblock %}

{% block js %}
    <script src="{{ base_url() }}highlight.pack.min.js"></script>
    <script src="{{ base_url() }}timeago.min.js"></script>
    <script src="{{ base_url() }}timeago.locales.min.js"></script>
    <script>
        hljs.initHighlightingOnLoad();

        timeago(null, 'pl').render(document.querySelectorAll('.code-paste-title--date'));
    </script>
{% endblock %}
